# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
.env
.venv/
venv/

# Backend data
backend/orders.json

# Node
node_modules/
frontend/dist/

# IDE
.vscode/
.idea/
*.sw?

# OS
.DS_Store
Thumbs.db
